#game-board{

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
div.board-row {
    display: contents;
}
div.board-cell {
    background: #fff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}
#game-board> div{
    border: 1px solid black;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}